/* --------Input------- */
.div_input {
  width: 40%;
  margin: auto;
}
.div_input input {
  font-size: medium;
}
.moon > input {
  background-color: hsl(235, 24%, 19%);
  border-color: transparent;
  color: #9394a5;
}
.container_input {
  position: relative;
  bottom: 155px;
}
.mantine-gszoqu {
  height: 60px;
}

/* darkmode */
.container_input.moon {
  background-color: black;
}
.mantine-gszoqu.moon {
  background-color: #9394a5;
}

/* -------Lista-------- */
ul {
  padding-right: 30%;
  padding-left: 30%;
}
.conteiner_todolist {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.todo_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #ffff;
  color: #9394a5;
  border-bottom: solid 1px #e4e5f1;
  padding: 15px;
  padding-left: 11px;
  border-radius: 5px;
}
/* cambio de estilo al texto al checkear */
.text.completed {
  text-decoration: line-through;
}
.todo_list.moon {
  background-color: hsl(235, 24%, 19%);
  border-bottom: solid 0.5px #e4e5f13d;
}
.todo_list.moon button {
  color: #9394a5;
}

/* Estilo checkbox */
.checbox_style {
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 17px;
  height: 17px;
  border: 1.8px solid #b4b5b9;
  border-radius: 10px;
  margin-right: 8px;
}
.todo_list label {
  display: flex;
  align-items: center;
}
.checbox_style:checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
/* Ultima lista con acciones */
.bottom {
  display: flex;
  justify-content: center;
  text-align: center;
}
.draganddrop {
  margin-top: 20px;
  font-size: small;
  color: gray;
  text-decoration: none;
}

.button_delete {
  background: transparent;
  cursor: pointer;
  border-style: none;
  color: #b4b5b9;
}
