.div_header {
  height: 200px;
  background-image: url("/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div_header h1 {
  color: white;
  margin-right: 30%;
}
.boton_day_night button {
  background-color: unset;
  cursor: pointer;
  border-style: none;
}
